#contact
	.content-title
		h1 Shoot Me A Note
	.content-info
		form 
			label Email
			input(placeholder="enter your email" type="email")
			label Message
			textarea(rows="6" columns="50" placeholder="Enter your message here")
			button(type="submit" ng-click="Contact.submit()") Submit


		