.content-title
	h1 Swiss Army App
.content-info
	h5 This post is filed under <span> PROJECTS </span> 
	h5 |||
	h5 Published <span> SEPTEMBER 2015 </span>
.content-article
	img(src="../images/SWA.png")
	article SWA is a client side app for reading and archiving Y-Combinator’s Hacker News articles. Built with AngularJS, UI-Router, Firebase, and Foundation. Exposed low level deferred/promise APIs using AngularJS $http service. And like any good NSS build, it’s also a weather app.
	article <a target="_blank" href="https://swa.firebaseapp.com/#/landing"> Swiss Army App Demo </a> 
	article <a target="_blank" href="https://github.com/mattfili/swiss-army-app"> Swiss Army App Code </a> 
	