doctype html
html(lang='en-US' ng-app="portfolio")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Matt Fili
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300|Noto+Serif:400,700italic,700' rel='stylesheet' type='text/css')
  body
    ul.nav-main 
      li: a(ui-sref="start.dash") Home
      li |  
      li: a(ui-sref="start.projects") Projects  
      li |    
      li: a(ui-sref="start.about") About
      li |    
      li: a(ui-sref="start.contact") Contact
    ui-view
    style meta.foundation-mq { font-family: "small=&medium=&large=&xlarge=&xxlarge="; }

  script(src='lib/build.js')
  script(src='js/main.config.js')
  script(src='js/bDash.controller.js')


