ul.nav-main {
	diplay: inline;
	position: absolute;
	right: 0;
	top: 0;
	list-style-type: none;
	margin: 10px;

	li {
		display: inline;
		padding: 0 5px;
		
		a {
			font-family: 'Lato' serif;
			font-style: normal;
			font-weight: 700;
			font-size: small;
			color: black;

			:link {
				color: black;
			}
		}

	}
}
