#leftpanel {
	display: inline;
	width: 40%;
	left: 0;
	position: fixed;
	height: 100%;
}

#rightpanel {
	padding-left: 10px;
	margin-top: 120px;
	display: inline;
	width: 60%;
	position: absolute;
	right: 0;
}
